<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main">
    <ion-card class="newscard" *ngFor="let article of data?.articles">
      <!--<img class="newsimage" src="../../assets/madison.jpg" />-->
      <img class="newsimage" [src]="article.urlToImage" />
      <ion-card-header>
        <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
        <ion-card-title>{{article.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{article.description}}</p>
      </ion-card-content>
    </ion-card>

</ion-content>
